# Hacking should appear first in case something else depends on pep8
hacking!=0.13.0,<0.14,>=0.12.0 # Apache-2.0
#
coverage!=4.4,>=4.0
discover
fixtures>=3.0.0
mccabe<0.6,>=0.2.1
mock>=2.0.0
oslosphinx
os-testr
pycodestyle
pylint
python-subunit>=1.0.0
sphinx
stestr>=1.0.0
testrepository>=0.0.18
testscenarios>=0.4
testtools>=2.2.0
tox
